<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="index">
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Book App</a>
        <nav class="nav">
          <ul class="flex align-center justify-between-flex">
            <li><a href="/author">List Of Author</a></li>
            <li><a href="/book">List of Book</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="padding">
        <div class="container flex justify-center align-center flex-column">
          <p>
            If You are author and you want to add book in list of collection
            then first add your details.
          </p>
          <a href="/author/new" class="btn">add Author</a>
        </div>
      </section>
    </main>
  </body>
</html>
